.block{
	background: rgb(72,	182, 131);
	width: 2em;
	height: 2em;
	margin: 10px;
	text-align: center;
	color: red;
  font-size: 5em;
}

.purple{
	background: purple;
  width: 2em;
  height: 2em;
  margin: 10px;
  text-align: center;
  color: red;
  font-size: 5em;
}

.message {
  left: 25%;
  right: 25%;
  border: solid red;
  border-radius: 0.25em;
  padding: 0 1em;
  text-align: center;
  font-size: 1.5em;
  background-color: red;
  color: black;
  width: 10em;
  height: 2em;
}