.block1{
	background: purple;
	width: 10em;
	height: 10em;
	margin: 10px;
	text-align: center;
	color: red;
}

.block2 {
	background: purple;
	width: 10em;
	height: 10em;
	margin: 10px;
	text-align: center;
	color: red;
}
.block3 {
	background: purple;
	width: 10em;
	height: 10em;
	margin: 10px;
	text-align: center;
	color: red;
}